<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="Datos.Properties.Settings.PedidosBDConnectionString1"
            connectionString="Data Source=PedidosBD.mssql.somee.com;Initial Catalog=PedidosBD;Persist Security Info=True;User ID=ajmpedidos;Password=ajmpedidos"
            providerName="System.Data.SqlClient" />
        <add name="Datos.Properties.Settings.PedidosDBConnectionString"
            connectionString="Data Source=.;Initial Catalog=PedidosDB;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="Datos.Properties.Settings.PedidosBDConnectionString"
            connectionString="Data Source=PedidosBD.mssql.somee.com;Initial Catalog=PedidosBD;Persist Security Info=True;User ID=ajmSextoA_SQLLogin_1;Password=fljgjufq1e"
            providerName="System.Data.SqlClient" />
        <add name="Datos.Properties.Settings.PruebaPedidosDBConnectionString"
            connectionString="Data Source=PruebaPedidosDB.mssql.somee.com;Initial Catalog=PruebaPedidosDB;Persist Security Info=True;User ID=DavidArcos_SQLLogin_1;Password=bpyrcm2x9y"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>