<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="Datos.Properties.Settings.PedidosBDConnectionString1"
            connectionString="Data Source=PedidosBD.mssql.somee.com;Initial Catalog=PedidosBD;Persist Security Info=True;User ID=ajmpedidos;Password=ajmpedidos"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>