<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="PresentacionEscritorio.Properties.Settings.PedidosBDConnectionString"
            connectionString="Data Source=PedidosBD.mssql.somee.com;Initial Catalog=PedidosBD;Persist Security Info=True;User ID=ajmpedidos;Password=ajmpedidos"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="BasicHttpBinding_IUsuarioWCF" />
                <binding name="BasicHttpBinding_IPedidoWCF" />
                <binding name="BasicHttpBinding_IDetallePedido" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://proyectopedidos.somee.com/PedidoWCF.svc"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IPedidoWCF"
                contract="wcfPedidos.IPedidoWCF" name="BasicHttpBinding_IPedidoWCF" />
            <endpoint address="http://proyectopedidos.somee.com/DetallePedido.svc"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IDetallePedido"
                contract="wcfDetallePedido.IDetallePedido" name="BasicHttpBinding_IDetallePedido" />
            <endpoint address="http://proyectopedidos.somee.com/UsuarioWCF.svc"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IUsuarioWCF"
                contract="wcfUsuario.IUsuarioWCF" name="BasicHttpBinding_IUsuarioWCF" />
        </client>
    </system.serviceModel>
</configuration>