<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="BasicHttpBinding_IUsuarioWCF" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://proyectopedidos.somee.com/UsuarioWCF.svc"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IUsuarioWCF"
                contract="wcfUsuario.IUsuarioWCF" name="BasicHttpBinding_IUsuarioWCF" />
        </client>
    </system.serviceModel>
</configuration>